<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success Page</title>
    <!-- Add your CSS styles or link to external CSS files here -->
</head>
<body>
    <div class="container">
        <h1>Download Successful!</h1>
        <p>Your document has been downloaded successfully.</p>
        <!-- You can add more content or messages here -->
        <a href="{% url 'data_confirmation' %}">Go back to data confirmation</a>
        <br>
        <a href="{% url 'upload_pdf' %}">Go back to upload pdf</a>
    </div>
    <!-- Add your JavaScript or link to external JS files here -->
</body>
</html>
